
	h1 {
		color: orangered;
		font-size: 45px;
	}

	#polje1, #polje2, #polje3, #polje4, #polje5,
	#polje6, #polje7, #polje8, #polje9 {
		width: 80px;
		height: 52px;
		margin: auto;
		border: 1px solid gray;
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
	}

	#restart {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 1px solid dodgerblue;
		margin: auto;
		border-radius: 4px;
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		background-color: dodgerblue;
		color: white;
		font-size: 20px;
		cursor: pointer;
	}

	#result {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		color: dodgerblue;
		font-size: 20px;
	}

	#main {
		text-align: center;
	}

	#info {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;
			
		color: dodgerblue;
		font-size: 17px;
	}

